

html {
  font-size: 14px;
}

body {
}

.navbar-default .navbar-nav > .active > a {
  position: fixed;
}

.jumbotron {
height: 44rem;
max-width: auto;
text-align: center;
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.jumbotron h1 {
  color: white;
  font-size: 7.1rem;
  outline: black;
  text-shadow: 1px 1px 2px black;

}

.jumbotron p {
  color: white;
}

.jumbotron .container-fluid {
  margin: 11.85rem auto 11.85rem auto;
  max-width: 51.3rem;

}

.jumbotron-bike {
  background-image: url("../resources/images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../resources/images/jumbotron-beer.jpg");


}

h1 {
  font-family: "Monoton";
  color: black;
}

h2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.7rem;
  color: #399bd1;
}



/* Jumbotron Overrides */

.relative-wrapper {
  margin-top: 2.8rem;
}

.btn-primary {
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  padding: 1.3rem auto;
  width: 11.4rem;

}

.btn-primary a {

}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  border: none;
}
.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}



/* Featured Project */
.featured-project {
  padding: 0 7rem;
}

.row {
  position: top;
}

.image-container{
opacity: 0.7;


}

.image-container img {
  height: auto;
  max-width: 100%;
  padding-top: 2rem;
}

.author {

}

/* doesn't work right now */
.row .prod-cat-col {
  margin-left: 2rem;
}

h3.blue-small-header {
  color: #399bd1;
}

.product-categories {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
